{{>header}}

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
                 {{!-- modal for idcard --}}
               <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade"id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content custom-content-card text-center">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body custom-card py-3 shadow" id="idcardWrap">
                      <div class="card-content-wrap text-center">
                            <h3>Lab</h3>
                        <span>Change together</span>
                        <div class="idcard-img">
                            <img src="/images/card.jpg" class="img-fluid" alt="card">
                        </div>
                        <h2>{{userData.[0].firstname}} {{userData.[0].midlename}} {{userData.[0].lastname}}</h2>
                        <span>Member</span>
                        <table>
                            <tr>
                                <td>ID <span>:</span></td>
                                <td>0000{{userData.[0].id}}</td>
                            </tr>
                              <tr>
                                <td>Blood <span>:</span></td>
                                <td>{{userData.[0].bloodgroup}}</td>
                            </tr>
                              <tr>
                                <td>Email <span>:</span></td>
                                <td>{{userData.[0].email}}</td>
                            </tr>
                              <tr>
                                <td>Phone <span>:</span></td>
                                <td>{{userData.[0].mobile}}</td>
                            </tr>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="pdfGenarator()" class="btn btn-primary">Download</button>
                    </div>
                    </div>
                </div>
                </div>
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">New Committee</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/index.html" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
            {{!-- modal for edit of institution --}}
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form id="editistitution">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel" ><input class="form-control text-uppercase w-100" type="text" id="degree" readonly name="degree"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                      
                           <div class="form-group">
                               <label for="">ID</label>
                               <input type="text" name="id" class="form-control" readonly id="id">
                           </div>
                           <div class="form-group">
                               <label for="">Payment Title</label>
                               <input type="text" name="name" class="form-control " id="payment_title">
                           </div>
                           <div class="form-group">
                               <label for="">Payment For</label>
                               <input type="text" name="code" class="form-control " id="payment_for">
                           </div>
                           <div class="form-group">
                               <label for="">Amount</label>
                               <input type="text" name="code" class="form-control " id="amount_payment">
                           </div>
                           <div class="form-group">
                               <label for="">Payment Method</label>
                               <input type="text" name="code" class="form-control " id="payment_method">
                           </div>
                           <div class="form-group">
                               <label for="">transaction Id</label>
                               <input type="text" name="code" class="form-control " id="transactionid">
                           </div>
                           <div class="form-group">
                               <label for="">Sender No</label>
                               <input type="text" name="code" class="form-control " id="senderno">
                           </div>
                           <div class="form-group">
                               <label for="">Payment Date</label>
                               <input type="text" name="code" class="form-control " id="payment_date">
                           </div>
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                  </form> 
                </div>
            </div>
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
             <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            {{!-- ssc --}}
                            <div class="col-sm-12">
                                 {{#if message}}
                                    <div class="alert {{message.type}}" role="alert">
                                        {{message.message}}
                                    </div>

                                    {{/if}}
                               <div class="card card-warning card-outline">
                                <div class="card-header">
                                    <i class="fa fa-edit"></i> Post New Committee
                                </div>
                                <div class="card-body">
                                    <form method="post" class="form-horizontal" id="add-committee-form" action="/admin/addcommittee">
                                        <div class="form-group">
                                            <label for="title1" class="control-label col-sm-2">Name <span style="color:red">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" name="name" id="title1" class="form-control" required="">
                                            </div>
                                            <span class="help-block error eMsg_designation_name"></span>
                                        </div>

                                        <div class="form-group">
                                            <label for="title1" class="control-label col-sm-2">Committee Type <span style="color:red">*</span></label>
                                            <div class="col-sm-10">
                                                <select name="type" id="committee_type" class="form-control" required="">
                                                    <option value="4">Advisor</option>
                                                        <option value="2">Executive</option>
                                                        <option value="3">Sub</option>
                                                        <option value="1">Event</option>
                                                                                        
                                                </select>
                                            </div>
                                            <span class="help-block error eMsg_parent_id"></span>
                                        </div>

                                        <div class="form-group event-form-group d-none">
                                            <label class="control-label col-sm-2">Event <span style="color:red">*</span></label>
                                            <div class="col-sm-10">
                                                <select name="event_id" id="comittee_type" class="form-control">
                                                    <option value=""></option>
                                                    <option value="12">SKYPE</option>
                                                    <option value="11">testing#40</option>
                                                    <option value="10">testing#13</option>
                                                    <option value="9">testing#13</option>
                                                    <option value="8">Birthday of rabindranath</option>
                                                    <option value="7">Seminar on healthy food and safety</option>
                                                    <option value="6">Get-Together Party Batch 1950-1990</option>
                                                    <option value="5">Get Together 2025</option>
                                                    <option value="4">Get Together 2020</option>
                                                    <option value="3">Get Together 2022</option>
                                            </select>
                                            </div>
                                            <span class="help-block error eMsg_parent_id"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="startdate" class="control-label col-sm-2">Start Date <span style="color:red">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="date" name="startdate" id="start_date" class="form-control date-picker" required="" autocomplete="off" >
                                            </div>
                                            <span class="help-block error eMsg_designation_name"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="enddate" class="control-label col-sm-2">End Date <span style="color:red">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="date" name="enddate" id="end_date" class="form-control date-picker" required="" autocomplete="off" >
                                            </div>
                                            <span class="help-block error eMsg_designation_name"></span>
                                        </div>

                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-primary" id="add-designation-btn">Create</button>
                                        </div>
                                    </form>
                                </div>

                              </div>
                            </div>

                            <script>

                                const payment_title_el =  document.getElementById('payment_title'); 
                                const id_el =  document.getElementById('id'); 
                                const payment_for_el =  document.getElementById('payment_for'); 
                                const payment_method_el =  document.getElementById('payment_method'); 
                                const transactionid_el =  document.getElementById('transactionid'); 
                                
                                const senderno_el =  document.getElementById('senderno');
                                const amount_el =  document.getElementById('amount_payment');
                                const Payment_date =  document.getElementById('payment_date');

                                const displayDataIntoModal =(id,payment_title,payment_for,amount,paymentdate,transactionid,senderno,paymentmethod)=>{
                                    console.log(amount)
                                    id_el.value = id;
                                    payment_title_el.value = payment_title;
                                    payment_for_el.value = payment_for;
                                    payment_method_el.value = paymentmethod;
                                    transactionid_el.value = transactionid;
                                    senderno_el.value = senderno;
                                    amount_el.value = amount;
                                    Payment_date.value = paymentdate;
                                }

                              

                                //onsubmit
                              
                            </script>
                            
                        </div>
                    </div>    
            </section>

           </div>
            </section>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           {{>footer}}