

{{>header}}

          
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
          {{!-- modal --}}
               <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade"id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content custom-content-card text-center">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body custom-card py-3 shadow" id="idcardWrap">
                      <div class="card-content-wrap text-center">
                            <h3>Lab</h3>
                        <span>Change together</span>
                        <div class="idcard-img">
                            <img src="/images/card.jpg" class="img-fluid" alt="card">
                        </div>
                        <h2>{{userData.[0].firstname}} {{userData.[0].midlename}} {{userData.[0].lastname}}</h2>
                        <span>Member</span>
                        <table>
                            <tr>
                                <td>ID <span>:</span></td>
                                <td>0000{{userData.[0].id}}</td>
                            </tr>
                              <tr>
                                <td>Blood <span>:</span></td>
                                <td>{{userData.[0].bloodgroup}}</td>
                            </tr>
                              <tr>
                                <td>Email <span>:</span></td>
                                <td>{{userData.[0].email}}</td>
                            </tr>
                              <tr>
                                <td>Phone <span>:</span></td>
                                <td>{{userData.[0].mobile}}</td>
                            </tr>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="pdfGenarator()" class="btn btn-primary">Download</button>
                    </div>
                    </div>
                </div>
                </div>
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {{#if message}}
                   <div class="alert {{message.type}}" role="alert">
                     {{message.message}}
                   </div>

                 {{/if}}
                  
                <!-- ============================================================== -->
                <!-- Add Institution-->
                <!-- ============================================================== -->
              <h2 class="heading">Add Institution</h2>
              <div class="card mb-2">
                <div class="card-header">
                  SSC
                </div>
                <div class="card-body">
                  <form class="row" action="/users/addinstitution/ssc" method="post">
                      <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Institute Name</label>
                        <input type="text" class="form-control" id="validationCustom01" name="institutenamessc" required>
                       
                      </div>
                      <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Institute Code</label>
                        <input type="text" class="form-control" id="validationCustom01" name="institutecodessc" required>
                       
                      </div>
                        <div class="col-4 d-flex align-items-center justify-content-center">
                          <button class="btn btn-primary" type="submit">Add Institute</button>
                        </div>
                  </form>
                </div>
              </div>
                <div class="card mb-2">
                <div class="card-header">
                  HSC
                </div>
                <div class="card-body">
                  <form class="row" action="/users/addinstitution/hsc" method="post">
                      <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Institute Name</label>
                        <input type="text" class="form-control" id="validationCustom01" name="institutenamehsc" required>
                       
                      </div>
                      <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Institute Code</label>
                        <input type="text" class="form-control" id="validationCustom01" name="institutecodehsc" required>
                       
                      </div>
                    
                        <div class="col-4 d-flex align-items-center justify-content-center">
                          <button class="btn btn-primary" type="submit">Add Institute</button>
                        </div>
                  </form>
                </div>
              </div>
                <div class="card mb-2">
                <div class="card-header">
                  Bachelor
                </div>
                <div class="card-body">
                  <form class="row" action="/users/addinstitution/bachelor" method="post">
                      <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Institute Name</label>
                        <input type="text" class="form-control" id="validationCustom01" name="institutenamebachelor" required>
                       
                      </div>
                      <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Institute Code</label>
                        <input type="text" class="form-control" id="validationCustom01" name="institutecodebachelor" required>
                       
                      </div>
                    
                          <div class="col-4 d-flex align-items-center justify-content-center">
                          <button class="btn btn-primary" type="submit">Add Institute</button>
                        </div>
                  </form>
                </div>
              </div>
               
             
              {{!-- Add Division --}}
              <h2 class="heading mt-5">Add District/Upazila</h2>
              <div class="card mb-2">
               <div class="card-header">
                 
               </div>
                <div class="card-body">
                  <form class="row" action="/users/addinstitution/division" method="post">
                      <div class="col-md-3">
                        <label for="validationCustom01" class="form-label">Division Name</label>
                       <select name="division" id="">
                         <option value="">Choose One</option>
                         <option value="Dhaka">Dhaka</option>
                         <option value="Barishal">Barishal</option>
                         <option value="Chattogram">Chattogram</option>
                         <option value="Khulna">Khulna</option>
                         <option value="Rangpur">Rangpur</option>
                         <option value="Comilla">Comilla</option>
                         <option value="Mymonshing">Mymonshing</option>
                         <option value="Rajshai">Rajshai</option>
                         <option value="Potuakhali">Potuakhali</option>
                         <option value="Pirojpur">Pirojpur</option>
                         <option value="Gazipur">Gazipur</option>
                         <option value="Narayangonj">Narayangonj</option>
                         <option value="Norshingdi">Norshingdi</option>
                         <option value="Khulna">Khulna</option>
                       </select>
                       
                      </div>
                       <div class="col-md-3">
                        <label for="validationCustom01" class="form-label">District Name</label>
                        <input type="text" class="form-control" name="district" required>
                       
                      </div>
                       <div class="col-md-3">
                        <label for="validationCustom01" class="form-label">Upazila Name</label>
                        <input type="text" class="form-control" id="validationCustom01" name="upazila" required>
                      </div>
                        <div class="col-3 d-flex align-items-center justify-content-center">
                          <button class="btn btn-primary" type="submit">Add Info</button>
                        </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{>footer}}