<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Ecall</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<link href="assets/img/favicon.png" rel="icon">

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

	<link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">

	<link rel="stylesheet" href="/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">
	<link rel="stylesheet" href="/assets/plugins/dropzone/dropzone.min.css">

	<link rel="stylesheet" href="/assets/css/style.css">

	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<div class="main-wrapper">

		<header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href="index.html" class="navbar-brand logo">
						<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
					</a>
				</div>
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="index.html" class="menu-logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<ul class="main-nav">
						<li class="has-submenu">
							<a href="">Home <i class="fas fa-chevron-down"></i></a>
							
						</li>
						<li class="has-submenu active">
							<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
								<li><a href="appointments.html">Appointments</a></li>
								<li><a href="schedule-timings.html">Schedule Timing</a></li>
								<li><a href="my-patients.html">Patients List</a></li>
								<li><a href="patient-profile.html">Patients Profile</a></li>
								<li><a href="chat-doctor.html">Chat</a></li>
								<li><a href="invoices.html">Invoices</a></li>
								<li class="active"><a href="doctor-profile-settings.html">Profile Settings</a></li>
								<li><a href="reviews.html">Reviews</a></li>
								<li><a href="doctor-register.html">Doctor Register</a></li>
								<li class="has-submenu">
									<a href="doctor-blog.html">Blog</a>
									<ul class="submenu">
										<li><a href="doctor-blog.html">Blog</a></li>
										<li><a href="blog-details.html">Blog view</a></li>
										<li><a href="doctor-add-blog.html">Add Blog</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="">Patients <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li class="has-submenu">
									<a href="#">Doctors</a>
									<ul class="submenu">
										<li><a href="map-grid.html">Map Grid</a></li>
										<li><a href="map-list.html">Map List</a></li>
									</ul>
								</li>
								<li><a href="search.html">Search Doctor</a></li>
								<li><a href="doctor-profile.html">Doctor Profile</a></li>
								<li><a href="booking.html">Booking</a></li>
								<li><a href="checkout.html">Checkout</a></li>
								<li><a href="booking-success.html">Booking Success</a></li>
								<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
								<li><a href="favourites.html">Favourites</a></li>
								<li><a href="chat.html">Chat</a></li>
								<li><a href="profile-settings.html">Profile Settings</a></li>
								<li><a href="change-password.html">Change Password</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="pharmacy-index.html">Pharmacy</a></li>
								<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
								<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
								<li><a href="product-all.html">Product</a></li>
								<li><a href="product-description.html">Product Description</a></li>
								<li><a href="cart.html">Cart</a></li>
								<li><a href="product-checkout.html">Product Checkout</a></li>
								<li><a href="payment-success.html">Payment Success</a></li>
								<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="">Pages <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="voice-call.html">Voice Call</a></li>
								<li><a href="video-call.html">Video Call</a></li>
								<li><a href="search.html">Search Doctors</a></li>
								<li><a href="calendar.html">Calendar</a></li>
								<li><a href="components.html">Components</a></li>
								<li class="has-submenu">
									<a href="invoices.html">Invoices</a>
									<ul class="submenu">
										<li><a href="invoices.html">Invoices</a></li>
										<li><a href="invoice-view.html">Invoice View</a></li>
									</ul>
								</li>
								<li><a href="blank-page.html">Starter Page</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="contact-us.html">Contact Us</a></li>
						</li>
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Register</a></li>
						<li><a href="forgot-password.html">Forgot Password</a></li>
					</ul>
					</li>
					<li class="has-submenu">
						<a href="">Blog <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="blog-list.html">Blog List</a></li>
							<li><a href="blog-grid.html">Blog Grid</a></li>
							<li><a href="blog-details.html">Blog Details</a></li>
						</ul>
					</li>
					<li class="has-submenu">
						<a href="#" target="_blank">Admin <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="admin/index.html" target="_blank">Admin</a></li>
							<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
						</ul>
					</li>
					<li class="login-link">
						<a href="login.html">Login / Signup</a>
					</li>
					</ul>
				</div>
				<ul class="nav header-navbar-rht">
					<li class="nav-item contact-item">
						<div class="header-contact-img">
							<i class="far fa-hospital"></i>
						</div>
						<div class="header-contact-detail">
							<p class="contact-header">Contact</p>
							<p class="contact-info-header"> +1 315 369 5943</p>
						</div>
					</li>

					<li class="nav-item dropdown has-arrow logged-item">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img">
								<img class="rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" width="31"
									alt="Darren Elder">
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"
										class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Darren Elder</h6>
									<p class="text-muted mb-0">Doctor</p>
								</div>
							</div>
							<a class="dropdown-item" href="doctor-dashboard.html">Dashboard</a>
							<a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>

				</ul>
			</nav>
		</header>


		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Profile Settings</h2>
					</div>
				</div>
			</div>
		</div>


		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

						<div class="profile-sidebar">
							<div class="widget-profile pro-widget-content">
								<div class="profile-info-widget">
									<a href="#" class="booking-doc-img">
										<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
									</a>
									<div class="profile-det-info">
										<h3>Dr. Darren Elder</h3>
										<div class="patient-details">
											<h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="dashboard-widget">
								<nav class="dashboard-menu">
									<ul>
										<li>
											<a href="doctor-dashboard.html">
												<i class="fas fa-columns"></i>
												<span>Dashboard</span>
											</a>
										</li>
										<li>
											<a href="appointments.html">
												<i class="fas fa-calendar-check"></i>
												<span>Appointments</span>
											</a>
										</li>
										<li>
											<a href="my-patients.html">
												<i class="fas fa-user-injured"></i>
												<span>My Patients</span>
											</a>
										</li>
										<li>
											<a href="schedule-timings.html">
												<i class="fas fa-hourglass-start"></i>
												<span>Schedule Timings</span>
											</a>
										</li>
										<li>
											<a href="available-timings.html">
												<i class="fas fa-clock"></i>
												<span>Available Timings</span>
											</a>
										</li>
										<li>
											<a href="invoices.html">
												<i class="fas fa-file-invoice"></i>
												<span>Invoices</span>
											</a>
										</li>
										<li>
											<a href="accounts.html">
												<i class="fas fa-file-invoice-dollar"></i>
												<span>Accounts</span>
											</a>
										</li>
										<li>
											<a href="reviews.html">
												<i class="fas fa-star"></i>
												<span>Reviews</span>
											</a>
										</li>
										<li>
											<a href="chat-doctor.html">
												<i class="fas fa-comments"></i>
												<span>Message</span>
												<small class="unread-msg">23</small>
											</a>
										</li>
										<li class="active">
											<a href="doctor-profile-settings.html">
												<i class="fas fa-user-cog"></i>
												<span>Profile Settings</span>
											</a>
										</li>
										<li>
											<a href="social-media.html">
												<i class="fas fa-share-alt"></i>
												<span>Social Media</span>
											</a>
										</li>
										<li>
											<a href="doctor-change-password.html">
												<i class="fas fa-lock"></i>
												<span>Change Password</span>
											</a>
										</li>
										<li>
											<a href="index.html">
												<i class="fas fa-sign-out-alt"></i>
												<span>Logout</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>

					</div>
					<div class="col-md-7 col-lg-8 col-xl-9">


						 	<div class="alert {{message.type}}" id="successmessage" role="alert">
                                {{message.message}}
						    </div>
							{{!-- <div class="alert {{message.type}}" role="alert">
								
							</div> --}}
						
					
                         <form id="myForm">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Basic Information</h4>
									<div class="row form-row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="change-avatar">
													<div class="profile-img">
														<img src="{{singleDocData.personalInfo.[0].Photo}}" id="output" alt="User Image">
													</div>
													{{!-- <div class="upload-img d-none">
														<div class="change-photo-btn">
															<span><i class="fa fa-upload"></i> Upload Photo</span>
															<input name="Photo" type="file" class="upload" accept="image/*">
														</div>
														<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
															size of 2MB</small>
													</div> --}}
													<input type="file" id="userPhoto" onchange="loadFile(event)" name="Photo" class="form-control" accept="image/*"/>
                                                   {{!-- image preview --}}
													<script>
														var loadFile = function(event) {
															var reader = new FileReader();
															reader.onload = function(){
															var output = document.getElementById('output');
															output.src = reader.result;
															};
															reader.readAsDataURL(event.target.files[0]);
														};
													</script>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Username <span class="text-danger">*</span></label>
												<input name="userName" id="userName" type="text" value="{{singleDocData.personalInfo.[0].userName}}" class="form-control" >
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Email <span class="text-danger">*</span></label>
												<input type="email" class="form-control" value="{{singleDocData.personalInfo.[0].email}}" >
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Registration Number <span class="text-danger">*</span></label>
												<input type="number"  id="RegistrationNo" name="RegistrationNo" value="{{singleDocData.personalInfo.[0].RegistrationNo}}" class="form-control" >
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>First Name <span class="text-danger">*</span></label>
												<input type="text" id="FirstName" value="{{singleDocData.personalInfo.[0].FirstName}}" name="FirstName" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Last Name <span class="text-danger">*</span></label>
												<input type="text" id="LastName" value="{{singleDocData.personalInfo.[0].LastName}}" name="LastName" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Phone Number</label>
												<input name="PhoneNumber" id="PhoneNumber" value="{{singleDocData.personalInfo.[0].PhoneNumber}}" type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Gender</label>
												<select name="Gender" id="Gender" class="form-select form-control">
													
													<option value="{{singleDocData.personalInfo.[0].Gender}}">{{singleDocData.personalInfo.[0].Gender}}</option>
													<option>Male</option>
													<option>Female</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div  class="form-group mb-0">
												<label>Date of Birth</label>
												<input value="{{singleDocData.personalInfo.[0].DateOfBirth}}" id="DateOfBirth" name="DateOfBirth" type="date" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Blood Group</label>
												<select name="BloodGroup" id="BloodGroup" class="form-select form-control">
													<option value="{{singleDocData.personalInfo.[0].BloodGroup}}">{{singleDocData.personalInfo.[0].BloodGroup}}</option>
													<option value="o+">o+</option>
													<option value="o-">o-</option>
													<option value="A+">A+</option>
													<option value="A-">A-</option>
													<option value="AB+">AB+</option>
													<option value="AB-">AB-</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>NID</label>
												<input name="NID" id="NID" value="{{singleDocData.personalInfo.[0].NID}}" type="text" class="form-control">
											</div>
										</div>
											<div class="col-md-6">
											<div class="form-group">
												<label>Address</label>
												<textarea name="Address" id="Address" value="{{singleDocData.personalInfo.[0].Address}}"  class="form-control"></textarea>
												
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Password</label>
												<input name="Password" id="Password" value="{{singleDocData.personalInfo.[0].Password}}" type="password" class="form-control">
											</div>
										</div>
										<div class="submit-section submit-btn-bottom w-100 d-flex align-items-right">
									       <input type="submit" value="Save Changes" class=" btn-primary submit-btn mt-3">
								        </div>
									</div>
								</div>
								
							</div>
                       	</form>	
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">About Me</h4>
								<div class="form-group mb-0">
									<label>Biography</label>
									<textarea class="form-control" rows="5"></textarea>
								</div>
							</div>
						</div>

                         {{!-- clinic_info --}}
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Clinic Info</h4>
								<div class="row form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Clinic Name</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Clinic Address</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label>Clinic Images</label>
											
										</div>
										<div class="upload-wrap">
											<div class="upload-images">
												<img src="assets/img/features/feature-01.jpg" alt="Upload Image">
												<a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i
														class="far fa-trash-alt"></i></a>
											</div>
											<div class="upload-images">
												<img src="assets/img/features/feature-02.jpg" alt="Upload Image">
												<a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i
														class="far fa-trash-alt"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

                         {{!-- contact-details --}}
						<div class="card contact-card">
							<div class="card-body">
								<h4 class="card-title">Contact Details</h4>
								<div class="row form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Address Line 1</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Address Line 2</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">City</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">State / Province</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Country</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Postal Code</label>
											<input type="text" class="form-control">
										</div>
									</div>
								</div>
							</div>
						</div>

                          {{!-- pricing --}}
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Pricing</h4>
								<div class="form-group mb-0">
									<div id="pricing_select">
										<div class="custom-control form-check custom-control-inline">
											<input type="radio" id="price_free" name=""
												class="form-check-input" value="price_free" checked>
											<label class="form-check-label" for="price_free">Free</label>
										</div>
										<div class="custom-control form-check custom-control-inline">
											<input type="radio" id="price_custom" name=""
												value="custom_price" class="form-check-input">
											<label class="form-check-label" for="price_custom">Custom Price (per
												hour)</label>
										</div>
									</div>
								</div>
								<div class="row custom_price_cont" id="custom_price_cont" style="display: none;">
									<div class="col-md-4">
										<input type="text" class="form-control" id="custom_rating_input"
											 value="" placeholder="20">
										<small class="form-text text-muted">Custom price you can add</small>
									</div>
								</div>
							</div>
						</div>


						<div class="card services-card">
							<div class="card-body">
								<h4 class="card-title">Services and Specialization</h4>
								<div class="form-group">
									<label>Services</label>
									<input type="text" data-role="tagsinput" class="input-tags form-control"
										placeholder="Enter Services" value="Tooth cleaning "
										id="services">
									<small class="form-text text-muted">Note : Type & Press enter to add new
										services</small>
								</div>
								<div class="form-group mb-0">
									<label>Specialization </label>
									<input class="input-tags form-control" type="text" data-role="tagsinput"
										placeholder="Enter Specialization" 
										value="Children Care,Dental Care" id="specialist">
									<small class="form-text text-muted">Note : Type & Press enter to add new
										specialization</small>
								</div>
							</div>
						</div>
						{{!-- Education --}}
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Education</h4>
							         <div class="eduInfo-mother">
										<div class="education-info">
											<div class="row form-row education-cont">
												<div class="col-12 col-md-10 col-lg-11">
													{{!-- single-eduinfo --}}
													<div class="row form-row education-cont">
														<div class="col-12 col-md-10 col-lg-11">
															<div class="row form-row">
																<div class="col-12 col-md-6 col-lg-3">
																	<input type="hidden" name="data_id[]" value="{{this.ID}}">
																	<div class="form-group">
																		<label>Degree</label>
																		<input  type="text" id="degree" value="{{this.Degree}}" name="degree[]" required class="form-control">
																	</div>
																</div>
																<div class="col-12 col-md-6 col-lg-3">
																	<div class="form-group">
																		<label>College/Institute</label>
																		<input  type="text" id="institute_name" value="{{this.InstitutionName}}" name="institutionName[]" required class="form-control">
																	</div>
																</div>
																<div class="col-12 col-md-6 col-lg-2">
																	<div class="form-group">
																		<label>Year of Joining</label>
																		<input  type="date" id="start_date" value="{{this.Start_date}}" required name="start_date[]" class="form-control">
																	</div>
																</div>
																<div class="col-12 col-md-6 col-lg-2">
																	<div class="form-group">
																		<label>Year of Completion</label>
																		<input type="date" id="end_date" value="{{this.End_date}}" required name="end_date[]"  class="form-control">
																	</div>
																</div>
																<div class="col-md-6 col-12 col-lg-2">
																	<div class="submit-section submit-btn-bottom w-100 d-flex align-items-right">
																			<button class="btn-primary submit-btn w-100 mt-4 eduform" >Add</button>
																		{{!-- <input type="submit" value="Save Changes" class=" btn-primary submit-btn mt-3"> --}}
																	</div>
																</div>
															</div>
														</div>	
													</div>
												</div>
											</div>
										</div>
								   <hr>
									<form method="POST" action="/educationupdate/{{singleDocData.personalInfo.[0].DocNurID}}">
										<div class="education-info">
											<div class="row form-row education-cont border py-3">
												<div class="col-12 col-md-10 col-lg-11">
												 {{#each singleDocData.educationInfo}}
													{{!-- single-eduinfo --}}
													<div class="row form-row education-cont">
														<div class="col-12 col-md-10 col-lg-11">
															<div class="row form-row">
																<div class="col-12 col-md-6 col-lg-3">
																	<input type="hidden" name="data_id[]" value="{{this.ID}}">
																	<div class="form-group">
																		<label>Degree</label>
																		<input type="text" id="degree" value="{{this.Degree}}" name="degree[]" required class="form-control">
																	</div>
																</div>
																<div class="col-12 col-md-6 col-lg-3">
																	<div class="form-group">
																		<label>College/Institute</label>
																		<input type="text" id="institute_name" value="{{this.InstitutionName}}" name="institutionName[]" required class="form-control">
																	</div>
																</div>
																<div class="col-12 col-md-6 col-lg-3">
																	<div class="form-group">
																		<label>Year of Joining</label>
																		<input type="date" id="start_date" value="{{this.Start_date}}" required name="start_date[]" class="form-control">
																	</div>
																</div>
																<div class="col-12 col-md-6 col-lg-3">
																	<div class="form-group">
																		<label>Year of Completion</label>
																		<input type="date" id="end_date" value="{{this.End_date}}" required name="end_date[]"  class="form-control">
																	</div>
																</div>
															</div>
														</div>
														<div class="col-12 col-md-2 col-lg-1 "><label class="d-md-block d-sm-none d-none">&nbsp;</label><a href="/deleteEducation/{{this.ID}}/{{this.DocNurID}}" class="btn btn-danger "><i class="far fa-trash-alt"></i></a></div> 
													</div>
                                                   	{{/each}}
												</div>
											</div>
											<div class="submit-section submit-btn-bottom w-100 d-flex align-items-right">
											 <input type="submit" value="Save Changes" class=" btn-primary submit-btn mt-3">
										   </div>
										</div>
									</form>  
							  </div>	
                               {{!-- 
								<div class="add-more">
										<a href="javascript:void(0);" class="add-education"><i
										class="fa fa-plus-circle"></i> Add More</a>			
								</div> --}}
							</div>
						</div>


						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Experience</h4>
								<div class="experience-info">
									<div class="row form-row experience-cont">
										<div class="col-12 col-md-10 col-lg-11">
										<form method="POST" action="/experienceinsert/{{singleDocData.personalInfo.[0].DocNurID}}">
											<div class="row form-row">
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>Hospital Name</label>
														<input type="text"  id="hospitalName" name="institutionName" class="form-control">
													</div>
												</div>
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>Designation</label>
														<input type="text"  id="designation" name="designation" class="form-control">
													</div>
												</div>
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>From</label>
														<input type="date"  id="start_date_exp" name="start_date" class="form-control">
													</div>
												</div>
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>To</label>
														<input type="date"  id="end_date_exp" name="end_date" class="form-control">
													</div>
												</div>
											</div>
										    <div class="submit-section submit-btn-bottom w-100 d-flex align-items-right">
												<button class="btn-primary submit-btn mt-3 expForm" >Add Experience</button>
											{{!-- <input type="submit" value="Save Changes" class=" btn-primary submit-btn mt-3"> --}}
										    </div>
										   </form>

                                        {{!-- update data --}}
										<hr>
										 <form method="POST" action="/experienceupdate/{{singleDocData.personalInfo.[0].DocNurID}}" class=" p-3 mt-3 border">
										  {{#each singleDocData.experienceInfo}}
											<div class="row form-row">
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>Hospital Name</label>
														<input type="hidden" name="data_id[]" value="{{this.ID}}">
														<input type="text" value="{{this.InstitutionName}}" id="hospitalName" name="institutionName[]" class="form-control">
													</div>
												</div>
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>Designation</label>
														<input type="text" value="{{this.Designation}}"  id="designation" name="designation[]" class="form-control">
													</div>
												</div>
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>From</label>
														<input type="date" value="{{this.Start_date}}" id="start_date_exp" name="start_date[]" class="form-control">
													</div>
												</div>
												<div class="col-12 col-md-6 col-lg-3">
													<div class="form-group">
														<label>To</label>
														<input type="date" value="{{this.End_date}}" id="end_date_exp" name="end_date[]" class="form-control">
													</div>
												</div>
											</div>
											
										  {{/each}}	
										  <div class="submit-section submit-btn-bottom w-100 d-flex align-items-right">
												<button class="btn-primary submit-btn mt-3 expForm" type="submit" >Uddate Experience</button>
											{{!-- <input type="submit" value="Save Changes" class=" btn-primary submit-btn mt-3"> --}}
										   </div>
										   </form>		
											
										</div>
									</div>
								</div>
								{{!-- <div class="add-more">
									<a href="javascript:void(0);" class="add-experience"><i
											class="fa fa-plus-circle"></i> Add More</a>
								</div> --}}
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Awards</h4>
								<div class="awards-info">
									<div class="row form-row awards-cont">
										<div class="col-12 col-md-5">
											<div class="form-group">
												<label>Awards</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-12 col-md-5">
											<div class="form-group">
												<label>Year</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="add-more">
									<a href="javascript:void(0);" class="add-award"><i class="fa fa-plus-circle"></i>
										Add More</a>
								</div>
							</div>
						</div>


						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Memberships</h4>
								<div class="membership-info">
									<div class="row form-row membership-cont">
										<div class="col-12 col-md-10 col-lg-5">
											<div class="form-group">
												<label>Memberships</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="add-more">
									<a href="javascript:void(0);" class="add-membership"><i
											class="fa fa-plus-circle"></i> Add More</a>
								</div>
							</div>
						</div>


						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Registrations</h4>
								<div class="registrations-info">
									<div class="row form-row reg-cont">
										<div class="col-12 col-md-5">
											<div class="form-group">
												<label>Registrations</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-12 col-md-5">
											<div class="form-group">
												<label>Year</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="add-more">
									<a href="javascript:void(0);" class="add-reg"><i class="fa fa-plus-circle"></i> Add
										More</a>
								</div>
							</div>
						</div>
                      {{!-- 
						<div class="submit-section submit-btn-bottom">
							<input type="submit" value="Save Changes" class=" btn-primary submit-btn">
						</div> --}}

				
					</div>
				</div>
			</div>
		</div>


		<footer class="footer">

			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="assets/img/footer-logo.png" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. </p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html">Search for Doctors</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="doctor-register.html">Register</a></li>
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="fas fa-map-marker-alt"></i></span>
										<p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
									</div>
									<p>
										<i class="fas fa-phone-alt"></i>
										+1 315 369 5943
									</p>
									<p class="mb-0">
										<i class="fas fa-envelope"></i>
										<a href="/cdn-cgi/l/email-protection" class="__cf_email__"
											data-cfemail="b7d3d8d4d4c2c5d2f7d2cfd6dac7dbd299d4d8da">[email&#160;protected]</a>
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="footer-bottom">
				<div class="container-fluid">

					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2020 Doccure. All rights reserved.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">

								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="term-condition.html">Terms and Conditions</a></li>
										<li><a href="privacy-policy.html">Policy</a></li>
									</ul>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</footer>


	</div>


	<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/assets/js/jquery-3.6.0.min.js"></script>

	<script src="/assets/js/bootstrap.bundle.min.js"></script>

	<script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<script src="/assets/plugins/select2/js/select2.min.js"></script>

	<script src="/assets/plugins/dropzone/dropzone.min.js"></script>

	<script src="/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

	<script src="/assets/js/profile-settings.js"></script>

	<script src="/assets/js/script.js"></script>
	<script>
		const myForm  =  document.getElementById("myForm")
		const userPhoto  =  document.getElementById("userPhoto")
		const userName  =  document.getElementById("userName")
		const FirstName  =  document.getElementById("FirstName")
		const LastName  =  document.getElementById("LastName")
		const PhoneNumber  =  document.getElementById("PhoneNumber")
		const Gender  =  document.getElementById("Gender")
		const NID  =  document.getElementById("NID")
		const DateOfBirth  =  document.getElementById("DateOfBirth")
		const RegistrationNo  =  document.getElementById("RegistrationNo")
		const BloodGroup  =  document.getElementById("BloodGroup")
		const Address  =  document.getElementById("Address")
		const Password  =  document.getElementById("Password")
		const successmessage  =  document.getElementById("successmessage")

		myForm.addEventListener("submit", e =>{

			e.preventDefault();
			const formData =  new FormData();
			formData.append("Photo",userPhoto.files[0]);
			formData.append("userName", userName.value);
			formData.append("FirstName", FirstName.value);
			formData.append("LastName", LastName.value);
			formData.append("PhoneNumber", PhoneNumber.value);
			formData.append("Gender", Gender.value);
			formData.append("NID", NID.value);
			formData.append("DateOfBirth", DateOfBirth.value);
			formData.append("RegistrationNo", RegistrationNo.value);
			formData.append("BloodGroup", BloodGroup.value);
			formData.append("Address", Address.value);
			formData.append("Password", Password.value);
			// Display the values
				for (var value of formData.values()) {
				console.log(value);
				}
				let href = window.location.href; 
				// let href = "https://www.facebook.com/david"; // Current window url; 
				// Creating URL object
				let url = new URL(href);
				let str = url.pathname.substring(1)
				var n = str.lastIndexOf('/');
                var result = str.substring(n + 1);
				console.log(result); 
			fetch(`http://192.168.0.121:9010/api/docinfoupdate/${result}`,{
				method:'PUT',
				body:formData
			}).catch(console.error)
             successmessage.innerText = 'Updated Successfully';
			 successmessage.classList.add("alert-success")
			 window.location.origin;
			
		});
	
	</script>
	<script>
								 
		 $(".eduform").click(()=>{
			console.log("working");
			window.alert("working")
			var degree =  $("#degree").val();
			var institutionName =  $("#institute_name").val();
			var start_date =  $("#start_date").val();
			var end_date =  $("#end_date").val();

			$.post("http://192.168.0.121:9010/api/educationinsert/DC6044028",{
				institutionName:institutionName,
				degree:degree,
				start_date:start_date,
				end_date:end_date
			},function(response){
				console.log(response)
			}
			)
		});
		
	</script>
</body>

</html>