{{patientHeader userData.[0].PatientID userData.[0].Photo userData.[0].FirstName }}

		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Invoice View</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Invoice View</h2>
					</div>
				</div>
			</div>
		</div>


		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="{{userData.[0].Photo}}" alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>{{userData.[0].FirstName}}</h3>
                                        <div class="patient-details">
                                            <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                                            <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{userData.[0].PrimaryAddress}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                               {{patientSideNav userData.[0].PatientID}}
                            </div>
                        </div>
                    </div>
					<div class="col-md-7 col-lg-8 col-xl-9">
                       {{!-- invoice content --}}
						<div class="invoice-content">
							<div class="invoice-item">
								<div class="row">
									<div class="col-md-6">
										<div class="invoice-logo">
											<img src="assets/img/logo.png" alt="logo">
										</div>
									</div>
									<div class="col-md-6">
										<p class="invoice-details">
											<strong>Order:</strong> #00124 <br>
											<strong>Issued:</strong> 20/07/2019
										</p>
									</div>
								</div>
							</div>

							<div class="invoice-item">
								<div class="row">
									<div class="col-md-6">
										<div class="invoice-info">
											<strong class="customer-text">Invoice From</strong>
											<p class="invoice-details invoice-details-two">
												Dr. Darren Elder <br>
												806 Twin Willow Lane, Old Forge,<br>
												Newyork, USA <br>
											</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="invoice-info invoice-info2">
											<strong class="customer-text">Invoice To</strong>
											<p class="invoice-details">
												Walter Roberson <br>
												299 Star Trek Drive, Panama City, <br>
												Florida, 32405, USA <br>
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="invoice-item">
								<div class="row">
									<div class="col-md-12">
										<div class="invoice-info">
											<strong class="customer-text">Payment Method</strong>
											<p class="invoice-details invoice-details-two">
												Debit Card <br>
												XXXXXXXXXXXX-2541 <br>
												HDFC Bank<br>
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="invoice-item invoice-table-wrap">
								<div class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="invoice-table table table-bordered">
												<thead>
													<tr>
														<th>Description</th>
														<th class="text-center">Quantity</th>
														<th class="text-center">VAT</th>
														<th class="text-end">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>General Consultation</td>
														<td class="text-center">1</td>
														<td class="text-center">$0</td>
														<td class="text-end">$100</td>
													</tr>
													<tr>
														<td>Video Call Booking</td>
														<td class="text-center">1</td>
														<td class="text-center">$0</td>
														<td class="text-end">$250</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-6 col-xl-4 ms-auto">
										<div class="table-responsive">
											<table class="invoice-table-two table">
												<tbody>
													<tr>
														<th>Subtotal:</th>
														<td><span>$350</span></td>
													</tr>
													<tr>
														<th>Discount:</th>
														<td><span>-10%</span></td>
													</tr>
													<tr>
														<th>Total Amount:</th>
														<td><span>$315</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>


							<div class="other-info">
								<h4>Other information</h4>
								<p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vivamus sed dictum ligula, cursus blandit risus. Maecenas eget metus non tellus
									dignissim aliquam ut a ex. Maecenas sed vehicula dui, ac suscipit lacus. Sed finibus
									leo vitae lorem interdum, eu scelerisque tellus fermentum. Curabitur sit amet
									lacinia lorem. Nullam finibus pellentesque libero.</p>
							</div>

						</div>
					</div>
				</div>
				
			</div>
		</div>


		<footer class="footer">

			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="assets/img/footer-logo.png" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. </p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html">Search for Doctors</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="doctor-register.html">Register</a></li>
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="fas fa-map-marker-alt"></i></span>
										<p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
									</div>
									<p>
										<i class="fas fa-phone-alt"></i>
										+1 315 369 5943
									</p>
									<p class="mb-0">
										<i class="fas fa-envelope"></i>
										<a href="/cdn-cgi/l/email-protection" class="__cf_email__"
											data-cfemail="e5818a8686909780a5809d8488958980cb868a88">[email&#160;protected]</a>
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="footer-bottom">
				<div class="container-fluid">

					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2020 Doccure. All rights reserved.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">


								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="term-condition.html">Terms and Conditions</a></li>
										<li><a href="privacy-policy.html">Policy</a></li>
									</ul>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</footer>

	</div>


	<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<script src="assets/js/script.js"></script>
</body>

</html>