{{patientHeader userData.[0].PatientID userData.[0].Photo userData.[0].FirstName }}

        <div class="content">
			<div class="container-fluid">
                {{#if message}}
					<div class="alert {{message.type}}" role="alert">
						{{message.message}}
					</div>
				{{/if}}
				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                   <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="{{userData.[0].Photo}}" alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>{{userData.[0].FirstName}}</h3>
                                        <div class="patient-details">
                                            <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                                            <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{userData.[0].PrimaryAddress}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                               {{patientSideNav userData.[0].PatientID}}
                            </div>
                        </div>
                    </div>
					<div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="chat-window">

                            <div class="chat-cont-left">
                                <div class="chat-header">
                                    <span>Chats</span>
                                    <a href="javascript:void(0)" class="chat-compose">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <form class="chat-search">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <input type="text" class="form-control rounded-pill" placeholder="Search">
                                    </div>
                                </form>
                                <div class="chat-users-list">
                                    <div class="chat-scroll">
                                    {{#each doctorlist}}
                                        {{!-- single-doctor --}}
                                        <a href="/chat-doctor/{{../userData.[0].DocNurID}}/{{this.PatientID}}" class="media d-flex">
                                            <div class="media-img-wrap flex-shrink-0">
                                                <div class="avatar avatar-away">
                                                    <img src="{{this.Photo}}" alt="User Image"
                                                        class="avatar-img rounded-circle">
                                                </div>
                                            </div>
                                            <div class="media-body flex-grow-1">
                                                <div>
                                                    <div class="user-name">Mr.{{this.FirstName}} {{this.LastName}}</div>
                                                    
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">2 min</div>
                                                    <div class="badge badge-success rounded-pill">15</div>
                                                </div>
                                            </div>
                                        </a>
                                        {{/each}}
                                        
                                    </div>
                                </div>
                            </div>


                            <div class="chat-cont-right">
                                <div class="chat-header">
                                    <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                    <div class="media d-flex">
                                        <div class="media-img-wrap flex-shrink-0">
                                            <div class="avatar avatar-online">
                                                <img src="{{Chatlist.personalInfo.[0].Photo}}" alt="User Image"
                                                    class="avatar-img rounded-circle">
                                            </div>
                                        </div>
                                        <div class="media-body flex-grow-1">
                                            <div class="user-name">Dr. {{Chatlist.personalInfo.[0].FirstName}}</div>
                                            <div class="user-status">online</div>
                                        </div>
                                    </div>
                                    <div class="chat-options">
                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                            data-bs-target="#voice_call">
                                           <i class="fas fa-phone"></i>
                                        </a>
                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                            data-bs-target="#video_call">
                                            <i class="fas fa-video"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                           <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="chat-body">
                                    <div class="chat-scroll" id="chat-scroll">
                                        <ul class="list-unstyled" id="list-unstyled">
                                      {{#each Chatlist.messageList}}
                                            <li class="media d-flex {{this.status}}">
                                                <div class="media-body flex-grow-1">
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>{{this.MessageText}}</p>
                                                            <ul class="chat-msg-info">
                                                                <li>
                                                                    <div class="chat-time">
                                                                       <span>{{this.CreateTime}}</span>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="chat-msg-attachments">
                                                                <div class="chat-attachment">
                                                                    <img src="{{this.MessageFilePath}}" >
                                                                    <div class="chat-attach-caption"></div>
                                                                    <a href="" class="chat-attach-download">
                                                                    <i class="fas fa-download"></i>
                                                                    </a>
                                                                </div>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            

                                         {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                <div class="chat-footer">
                                 <form id="myForm">
                                    <div class="input-group">
                                        
                                        <input type="hidden" id="SenderID" value="{{userData.[0].DocNurID}}">
                                        <div class="btn-file btn">
                                            <i class="fa fa-paperclip"></i>
                                            <input type="file" id="photo">
                                        </div>
                                        <input type="text" class="input-msg-send form-control rounded-pill"
                                            placeholder="Type something" id="messageText">
                                        <button type="submit" class="btn msg-send-btn"><i
                                                class="fab fa-telegram-plane"></i></button>
                                           
                                    </div>
                                 </form>  
                                </div>

                                <script>
                                    	const myForm  =  document.getElementById("myForm");
                                        const photo  =  document.getElementById("photo");
                                        const messageText  =  document.getElementById("messageText");
                                        const SenderID  =  document.getElementById("SenderID");
                                        var typedMessage =  document.querySelector('.input-msg-send');
                                        let href = window.location.href; 
                                                // let href = "https://www.facebook.com/david"; // Current window url; 
                                                // Creating URL object
                                                let url = new URL(href);
                                                let str = url.pathname.substring(1)
                                                var n = str.lastIndexOf('/');
                                                
                                                var result = str.substring(n + 1);
                                                var both = str.substring(n-9).split("/")
                                                console.log("both id:",both)

                                        myForm.addEventListener("submit", e =>{
                                            e.preventDefault();

                                             sendMessage(messageText.value);
                                            
                                            const formData =  new FormData();
                                            formData.append("Photo",photo.files[0]);
                                            formData.append("MessageText", messageText.value);
                                            formData.append("SenderID", SenderID.value);
                                            
                                            // Display the values
                                                for (var value of formData.values()) {
                                                  console.log(value);
                                                }
                                                
                                            fetch(`http://192.168.0.121:9010/api/messageinsert/${both[0]}/${both[1]}`,{
                                                method:'POST',
                                                body:formData
                                            }).catch(console.error)
                                            typedMessage.value = '';
                                            photo.files[0] = ''
                                           
                                            
                                        });
                                </script>
                            </div>

                        </div>
					</div>
				</div>
             
			</div>
		</div>
       

        <footer class="footer">

            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="search.html">Search for Doctors</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="booking.html">Booking</a></li>
                                    <li><a href="patient-dashboard.html">Patient Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="appointments.html">Appointments</a></li>
                                    <li><a href="chat.html">Chat</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="doctor-register.html">Register</a></li>
                                    <li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                            data-cfemail="b1d5ded2d2c4c3d4f1d4c9d0dcc1ddd49fd2dedc">[email&#160;protected]</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2020 Doccure. All rights reserved.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="term-condition.html">Terms and Conditions</a></li>
                                        <li><a href="privacy-policy.html">Policy</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <div class="modal fade call-modal" id="voice_call">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="call-box incoming-box">
                        <div class="call-wrapper">
                            <div class="call-inner">
                                <div class="call-user">
                                    <img alt="User Image" src="/assets/img/doctors/doctor-thumb-02.jpg"
                                        class="call-avatar">
                                    <h4>Darren Elder</h4>
                                    <span>Connecting...</span>
                                </div>
                                <div class="call-items">
                                    <a href="javascript:void(0);" class="btn call-item call-end" data-bs-dismiss="modal"
                                        aria-label="Close"><i class="fas fa-phone"></i></a>
                                    <a href="voice-call.html" class="btn call-item call-start"><i class="fas fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade call-modal" id="video_call">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="call-box incoming-box">
                        <div class="call-wrapper">
                            <div class="call-inner">
                                <div class="call-user">
                                    <img class="call-avatar" src="/assets/img/doctors/doctor-thumb-02.jpg"
                                        alt="User Image">
                                    <h4>Darren Elder</h4>
                                    <span>Calling ...</span>
                                </div>
                                <div class="call-items">
                                    <a href="javascript:void(0);" class="btn call-item call-end" data-bs-dismiss="modal"
                                        aria-label="Close"> <i class="fas fa-video"></i></a>
                                    <a href="video-call.html" class="btn call-item call-start"> <i class="fas fa-video"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/script.js"></script>
    {{!-- chat application --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js" ></script>

   <script>
         var  socket =  io('http://localhost:8000')
         //get current time twelve hours
         function formatAMPM(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
            }
         
         var chatWrapScrol =  document.getElementById("chat-scroll");
         var messagArea =  document.getElementById("list-unstyled");
         var result =  '';
     


     
       
        function sendMessage(sentMessage){
            
          
          //append message
          appendMessage(sentMessage,'sent');

          
           //sending message to the opposite user
            socket.emit("messageSent",{
                "Message":sentMessage,
                "ReceiverID":both[1]
            })
        }

        //append message
        function appendMessage(msg, type){

            let singlelist =  document.createElement('li');
            let className = type;
            singlelist.classList.add('media','d-flex',className);
            let markup = `<div class="media-body flex-grow-1">
                    <div class="msg-box">
                        <div>
                            <p>${msg}</p>
                            <div class="chat-msg-actions dropdown">
                                <a href="#" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fe fe-elipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                            <ul class="chat-msg-info">
                                <li>
                                    <div class="chat-time">
                                        <span>${formatAMPM(new Date)}</span>
                                    </div>
                                </li>
                                <li><a href="#">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>`
                singlelist.innerHTML = markup;
                messagArea.appendChild(singlelist)
        }

        socket.on("messageSent", function(message){
            if(message.ReceiverID == SenderID.value){
                appendMessage(message.Message,'received')
                console.log(message)
            }
          
        })

  </script> 
</body>

</html>